
#pane {
  display: flex;
  height: 630px;
  text-align: center;
}

#left-sidebar {
  position: relative;
  border-width: 1px 0px 1px 1px;
  border-color: black;
  border-style: solid;
  width: 150px;
  background-color: grey;
  font-size: 300%;
  line-height: 50px;
}

#right-sidebar {
  position: relative;
  border-width: 1px 1px 1px 0px;
  border-color: black;
  border-style: solid;
  width: 150px;
  background-color: grey;
  font-size: 300%;
  line-height: 50px;
}

#bonuses-header {
  text-decoration: underline
}

.bonus-display{
  padding: 5px 10px 5px 10px;
  text-align: left;
  font-size: 15px;
  line-height: 15px;
}

.tab {
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  border-width: 1px 0px 1px 0px;
  border-color: black;
  border-style: solid;
  height: 40px;
  width: 150px;
  background-color: darkgrey;
}

.tab.selected {
  z-index: 2;
  border-width: 1px 1px 1px 0px;
  border-right-color: lightgrey;
  background-color: lightgrey;
}

.skill-tree {
  border: 1px solid black;
  position: relative;
  width: 500px;
  height: 628px;
  background-color: lightgrey;
}

.graph-node {
  position: absolute;
  height: 52px;
  width: 52px;
  font-size: 10px;
  line-height: 10px;
  z-index: 1;
}

.hex-top {
  border-width: 2px 1px 0px 1px;
  border-style: solid;
  border-color: black;
  position: absolute;
  width: 43px;
  height: 36px;
  top: -9px;
  left: 4px;
  background-color: blue;
  z-index: 0;
  transform: perspective(55px) rotateX(45deg);
}

.hex-bottom {
  border-width: 0px 1px 2px 1px;
  border-style: solid;
  border-color: black;
  position: absolute;
  width: 43px;
  height: 36px;
  top: 26px;
  left: 4px;
  background-color: blue;
  z-index: 0;
  transform: perspective(55px) rotateX(-45deg);
}

.hex-text {
  position: absolute;
  width: 45px;
  height: 26px;
  top: 10px;
  left: 4px;
  z-index: 1;
  background-color: none;
}

.hex-value {
  position: relative;
  top: 43px;
}

.hex-component.selected {
  background-color: green;
}

.hex-component.available {
  background-color: yellow;
}

.hex-component.unavailable {
  background-color: red;
}

.hex-text.selected {
  color: white;
}

.hex-text.available {
  color: black;
}

.hex-text.unavailable {
  color: white;
}

.node-connect-line {
  position: absolute;
  height: 2px;
  background: black;
  z-index: 0;
  transform-origin: 0 100%;
}
