
#pane {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: fit-content;
}

#main {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
}

#left-sidebar {
  border-width: 1px 0px 1px 1px;
}

#right-sidebar {
  border-width: 1px 1px 1px 0px;
}

.sidebar {
  border-color: black;
  border-style: solid;
  min-width: 150px;
  background-color: grey;
  font-size: 300%;
  line-height: 50px;
  /* overflow-y: auto; */
}

#bonuses-header {
  font-size: 80%;
  text-decoration: underline
}

.bonus-display {
  padding: 5px 10px 5px 10px;
  text-align: left;
  font-size: 15px;
  line-height: 15px;
}

.treeTab {
  left: 9px;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  border-width: 1px 0px 1px 0px;
  border-color: black;
  border-style: solid;
  height: 40px;
  width: 150px;
  background-color: #737882;
  cursor: pointer;
}

.treeTab.selected {
  z-index: 2;
  border-width: 1px 1px 1px 0px;
  color: white;
  border-right-color: #43464b;
  background-color: #43464b;
}

#cost-totals-display {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  top: 375px;
}

#buttons-frame {
  position: relative;
  top: 375px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button {
  height: 20px;
  margin: 3px;
  padding: 2px;
  width: 120px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #737882;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  color: white;
  background-color: #43464b;
}

.skill-tree {
  border: 1px solid black;
  position: relative;
  width: 500px;
  height: 628px;
  background-color: #43464b;
}

.graph-node {
  position: absolute;
  height: 52px;
  width: 52px;
  font-size: 10px;
  line-height: 10px;
  z-index: 1;
  cursor: pointer;
}

.hex-top {
  border-width: 2px 1px 0px 1px;
  border-style: solid;
  border-color: black;
  position: absolute;
  width: 43px;
  height: 36px;
  top: -9px;
  left: 4px;
  background-color: blue;
  z-index: 0;
  transform: perspective(55px) rotateX(45deg);
}

.hex-bottom {
  border-width: 0px 1px 2px 1px;
  border-style: solid;
  border-color: black;
  position: absolute;
  width: 43px;
  height: 36px;
  top: 26px;
  left: 4px;
  background-color: blue;
  z-index: 0;
  transform: perspective(55px) rotateX(-45deg);
}

.hex-text {
  position: absolute;
  width: 45px;
  height: 26px;
  top: 10px;
  left: 4px;
  z-index: 1;
  background-color: none;
}

.hex-value {
  position: relative;
  top: 43px;
  z-index: 1;
}

.hex-component.selected {
  background-color: #00b5f5;
}
.hex-component.available {
  background-color: #00556d;
}
.hex-component.unavailable {
  background-color: grey;
}
.hex-component.locked {
  background-color: #00b5f5;
}

.hex-top-shadow {
  color: none;
  background-color: none;
  position: absolute;
  width: 42px;
  height: 35px;
  top: -7px;
  left: 5px;
  z-index: -4;
  transform: perspective(55px) rotateX(45deg);
  box-shadow: -1px -6px 15px 5px rgba(0,0,0,1);
}

.hex-bottom-shadow {
  color: none;
  background-color: none;
  position: absolute;
  width: 42px;
  height: 35px;
  top: 27px;
  left: 5px;
  z-index: -4;
  transform: perspective(55px) rotateX(-45deg);
  box-shadow: 0px 3px 15px 5px rgba(0,0,0,1);
}

.hex-text.selected {
  color: white;
}

.hex-text.locked {
  color: white;
}

.hex-text.available {
  color: black;
}

.hex-text.unavailable {
  color: black;
}

.node-connect-line {
  position: absolute;
  height: 2px;
  background: black;
  z-index: 0;
  transform-origin: 0 100%;
}

#modal-overlay {
  padding: 0px 5px 0px 5px;
  position: absolute;
  height: 678px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
}

#modal-window {
  position: relative;
  top: 275px;
  width: 600px;
  color: white;
  background-color: black;
  margin: auto auto;
  z-index: 99;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
}

#permalink-display {
  font-size: 20px;
  background-color: #43464b;
  border-radius: 5px;
  padding: 9px 6px 6px 6px;
  cursor: text;
}

footer {
  padding: 5px;
  clear: both;
  text-align: center;
  color: white;
  background-color: black;
}

footer a:link {
  color: grey;
}

footer a:visited {
  color: darkgrey;
}

footer a:link {
  color: grey;
}

footer a:hover {
  color: lightgrey;
}
