/* *** ALT COLOR SCHEME *** */

.alt-colors #main {
  background: linear-gradient(to bottom right, #43464b, grey, #43464b);
}

.alt-colors #node-count-display {
  color: #eeeeee;
  text-shadow: 0 0 2px #eeeeee;
  background-color: #2b2d30;
}

.alt-colors #node-selection-counter.exceeded-max-nodes {
  text-shadow: 0 0 1px red;
}

.alt-colors .treeTab {
  color: #eeeeee;
  text-shadow: 0 0 1px #eeeeee;
  background-color: #2b2d30;
}

.alt-colors .treeTab.selected {
  text-shadow: 0 0 2px black;
  background-color: transparent;
}

.alt-colors #costs-and-buttons-pane {
  background-color: #2b2d30;
}

.alt-colors #cost-totals-display {
  color: #eeeeee;
  text-shadow: 0 0 1px #eeeeee;
}

.alt-colors .option-button {
  color: black;
  background-color: grey;
}

.alt-colors .option-button:hover {
  color: #eeeeee;
  text-shadow: 0 0 1px black;
  background-color: #191919;
}

.alt-colors #right-sidebar {
  color: #eeeeee;
  text-shadow: 0 0 1px white;
  background-color: #2b2d30;
}

.alt-colors .bonus-display:nth-child(even) {
  background-color: #191919;
}

.alt-colors .bonus-display:nth-child(odd) {
  color: black;
  background-color: lightgrey;
}

.alt-colors .node .hex-graphic {
  fill: #2b2d30;
}

.alt-colors .node.selected .hex-graphic {
  stroke: #003D7D;
}

.alt-colors .footer {
  color: #eeeeee;
}

/* *** 'Leto' FONT *** */

body.alt-font {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.alt-font .hex-text {
  top: 25px;
  left: 19px;
}
.alt-font .solo-button {
  line-height: 24px;
}
