footer {
  color: #eeeeee;
  background-color: #191919;
  padding: 5px;
  text-align: center;
}

footer a:link {
  color: grey;
}

footer a:visited {
  color: darkgrey;
}

footer a:link {
  color: grey;
}

footer a:hover {
  color: lightgrey;
}
