footer {
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #191919;
}

footer a:link {
  color: grey;
}

footer a:visited {
  color: darkgrey;
}

footer a:link {
  color: grey;
}

footer a:hover {
  color: lightgrey;
}
