
@import 'footer.css';
@import 'tooltip.css';
@import 'sidebar.css';
@import 'graph_view.css';
@import 'modal.css';
@import 'trees-view.css';

body {
  background-color: #fff;
  color: #333;
  font-size: 16px;
  line-height: 18px;
  font-family: 'PT Sans Narrow', sans-serif;
  /* font-family: 'Lato', sans-serif; */
}

#pane {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: fit-content;
  max-width: fit-content;
}

#main {
  background-color: #43464b;
  /* background: linear-gradient(to bottom right, #43464b, grey, #43464b); */
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
}
