.sidebar {
  border-color: black;
  border-style: solid;
  min-width: 150px;
  line-height: 50px;
  display: flex;
  flex-direction: column;
}

#left-sidebar {
  border-width: 1px 0px 0px 1px;
  justify-content: flex-start;
  align-content: space-around;
}

#node-count-display {
  background-color: grey;
  font-size: 300%;
  border-width: 0px 0px 1px 0px;
  border-color: black;
  border-style: solid;
}

#node-selection-counter.exceeded-max-nodes {
  color: red;
}

#tabs-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.treeTab {
  line-height: 20px;
  border-width: 0px 0px 1px 0px;
  border-color: black;
  border-style: solid;
  height: 40px;
  width: 150px;
  background-color: #737882;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.treeTab.selected {
  z-index: 2;
  color: white;
  border-right-color: #43464b;
  background-color: transparent;
}

#right-sidebar {
  background-color: grey;
  border-width: 1px 1px 0px 0px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#bonuses-header {
  font-size: 200%;
  text-decoration: underline
}

.bonus-tree-name {
  width: 100%;
  font-weight: bold;
  font-size: 110%;
  line-height: 25px;
  margin-bottom: 5px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: black;
}

.bonus-tree-name.min {
  font-size: 95%;
  line-height: 20px;
}

.bonus-display {
  padding: 5px 10px 5px 10px;
  text-align: left;
  font-size: 100%;
  line-height: 10px;
}

.bonus-display:nth-child(odd) {
  background-color: lightgrey;
}

.bonus-display.min {
  font-size: 80%;
}

#bonus-sort-button {
  margin: 8px;
}

#costs-and-buttons-pane {
  height: 100%;
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#cost-totals-display {
  font-weight: 900;
  margin: 10px 0;
  line-height: 20px;
}

#buttons-pane {
  width: 100%;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-button {
  font-size: 110%;
  text-align: center;
  background-color: #737882;
  border: 1px solid black;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.option-button:hover {
  color: white;
  background-color: #43464b;
}

.solo-button {
  height: 24px;
  margin: 3px;
  width: 120px;
  line-height: 26px;
  border: 1px solid black;
  border-radius: 5px;
}

#chassis-toggles {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.duo-button {
  height: 20px;
  width: 58px;
  line-height: 21px;
}

#chassis-weight-toggle {
  margin: 3px 0px 3px 3px;
  padding: 2px 0px 2px 2px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid black;
}

#chassis-tech-toggle {
  margin: 3px 3px 3px 0px;
  padding: 2px 2px 2px 0px;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: black;
  border-radius: 0px 5px 5px 0px;
}
